[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
civicpy = "~=3.0.0"
"ga4gh.vrs" = "~=0.8.1"
"ga4gh.vrsatile.pydantic" = "~=0.0.12"
gene-normalizer = {version = "~=0.1.36", extras = ["etl"]}
variation-normalizer = "~=0.5.5"
disease-normalizer = {version = "~=0.2.20", extras = ["dev"]}
thera-py = {version = "~=0.3.10", extras = ["dev"]}
requests = "*"
requests-cache = "*"
jsondiff = "*"
pydantic = "*"
uvicorn = "*"
fastapi = "*"
asyncclick = "*"
neo4j = "*"
boto3 = "*"
botocore = "*"

[dev-packages]
metakb = {editable = true, path = "."}
pre-commit = "*"
ruff = "==0.2.0"
pytest = "*"
pytest-cov = "*"
mock = "*"
pytest-asyncio = "*"
ipykernel = "*"
