[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"ga4gh.vrs" = {version = "==0.7.0rc3", extras = ["extras"]}
civicpy = "*"
requests = "*"
jsondiff = "*"
pydantic = "*"
requests-cache = "*"
gene-normalizer = ">=0.1.22"
disease-normalizer = ">=0.2.10"
thera-py = ">=0.2.26"
neo4j = "*"
uvicorn = "*"
fastapi = "*"
click = "*"
uvloop = "*"
websockets = "*"
httptools = "*"
typing-extensions = "*"
boto3 = "*"
botocore = "*"
variation-normalizer = ">=0.2.12"
jsonschema = ">=2.3, <4.0"
"ga4gh.vrsatile.pydantic" = ">=0.0.3"

[dev-packages]
metakb = {editable = true, path = "."}
mock = "*"
pytest = "*"
pre-commit = "*"
flake8 = "*"
flake8-docstrings = "*"
coverage = "*"
coveralls = "*"
pytest-cov = "*"
jupyterlab = "*"
jupyter = "*"
ipykernel = "*"
