commands:
    01_install_postgresql_binary:
        command: "yum install -y python-devel postgresql-devel"
    02_eb_packages:
        command: "/var/app/venv/staging-LQM1lest/bin/pip install uvloop websockets httptools typing-extensions"
    03_install_node:
        test: test ! -f /usr/bin/node
        command: "yum install -y nodejs"
    04_install_pnpm:
        test: test ! -f /usr/bin/pnpm
        command: wget -qO- https://get.pnpm.io/install.sh | sh -

container_commands:
    01_install_deps:
        test: test ! -d "client/node_modules"
        command: "pnpm --dir client install"

    02_build_client:
        test: test ! -d "client/build"
        command: "pnpm --dir client build"

    03_make_build_dir:
        test: test ! -d "server/src/metakb/build"
        command: "mkdir server/src/metakb/build"

    03_mv_client:
        test: test ! -d "server/src/metakb/build/assets"
        command: "cp -R client/dist/* server/src/metakb/build"
