commands:
    01_install_postgresql_devel:
        command: "yum install -y python-devel postgresql-devel"
    02_install_aws_cli:
        command: "yum install -y awscli"
    03_install_unzip:
        command: "yum install -y unzip"
    04_eb_packages:
       command: "/var/app/venv/staging-LQM1lest/bin/pip install uvloop websockets httptools typing-extensions"
    05_export_eb_env_var:
        command: "export $(cat /opt/elasticbeanstalk/deployment/env | xargs)"

container_commands:
    01_uta_permissions:
        test: test -d "/var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/uta_tools"
        command: "chmod -R 777 /var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/uta_tools/data"

    02_s3_download:
        test: test ! -d "/usr/local/share/seqrepo"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/${AWS_SEQREPO_OBJECT} /usr/local/share/seqrepo.zip --region us-east-2"

    03_unzip_seqrepo:
        test: test -f "/usr/local/share/seqrepo.zip"
        command: "unzip /usr/local/share/seqrepo.zip -d /usr/local/share"

    04_seqrepo_permission:
        test: test -d "/usr/local/share/seqrepo"
        command: "chmod -R 777 /usr/local/share/seqrepo"

    05_macosx_permission:
        test: test -d "/usr/local/share/__MACOSX"
        command: "chmod -R +wr /usr/local/share/__MACOSX"

    06_seqrepo_zip_permission:
        test: test -f "/usr/local/share/seqrepo.zip"
        command: "chmod +wr /usr/local/share/seqrepo.zip"

    07_remove_macosx:
        test: test -d "/usr/local/share/__MACOSX"
        command: "rm -R /usr/local/share/__MACOSX"

    08_remove_seqrepo_zip:
        test: test -f "/usr/local/share/seqrepo.zip"
        command: "rm /usr/local/share/seqrepo.zip"

    9_data_permission:
        test: test -d "/usr/local/share/seqrepo"
        command: "chmod -R +wrx /usr/local/share/seqrepo"
