container_commands:
    01_export_eb_env_var:
        command: "export $(cat /opt/elasticbeanstalk/deployment/env | xargs)"

    02_install_awscli:
        command: "yum install -y awscli"

    03_install_unzip:
        test: test ! -d "/var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/seqrepo"
        command: "yum install -y unzip"

    05_refseq_gene_symbols_download:
        test: test ! -f "/var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/refseq_gene_symbols.txt"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/variation/refseq_gene_symbols.txt /var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/refseq_gene_symbols.txt --region us-east-2"

    06_mane_grch38_refseq_download:
        test: test ! -f "/var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/MANE.GRCh38.v0.93.summary.txt"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/variation/MANE.GRCh38.v0.93.summary.txt /var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/MANE.GRCh38.v0.93.summary.txt --region us-east-2"

    07_s3_download:
        test: test ! -d "/var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/seqrepo"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/${AWS_SEQREPO_OBJECT} /var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/seqrepo.zip --region us-east-2"

    08_unzip_seqrepo:
        test: test -f "/var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/seqrepo.zip"
        command: "unzip /var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/seqrepo.zip -d /var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data"

    09_seqrepo_permission:
        test: test -d "/var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/seqrepo"
        command: "chmod -R 777 /var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/seqrepo"

    10_macosx_permission:
        test: test -d "/var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/__MACOSX"
        command: "chmod -R +wr /var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/__MACOSX"

    11_seqrepo_zip_permission:
        test: test -f "/var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/seqrepo.zip"
        command: "chmod +wr /var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/seqrepo.zip"

    12_remove_macosx:
        test: test -d "/var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/__MACOSX"
        command: "rm -R /var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/__MACOSX"

    13_remove_seqrepo_zip:
        test: test -f "/var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/seqrepo.zip"
        command: "rm /var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data/seqrepo.zip"

    14_data_permission:
        test: test -d "/var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data"
        command: "chmod -R +wrx /var/app/venv/staging-LQM1lest/lib/python3.8/site-packages/variation/data"
