commands:
    01_install_aws_cli:
        command: "yum install -y awscli"
    02_export_eb_env_var:
        command: "export $(cat /opt/elasticbeanstalk/deployment/env | xargs)"

container_commands:
    01_s3_download:
        test: test ! -d "/usr/local/share/seqrepo/2024-02-20"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/${AWS_SEQREPO_OBJECT} /usr/local/share/seqrepo.tar.gz --region us-east-2"

    02_extract_seqrepo:
        test: test -f "/usr/local/share/seqrepo.tar.gz"
        command: "mkdir -p /usr/local/share/seqrepo/2024-02-20 && tar -xzvf /usr/local/share/seqrepo.tar.gz -C /usr/local/share/seqrepo/2024-02-20"

    03_seqrepo_zip_permission:
        test: test -f "/usr/local/share/seqrepo.tar.gz"
        command: "chmod +wr /usr/local/share/seqrepo.tar.gz"

    04_remove_seqrepo_zip:
        test: test -f "/usr/local/share/seqrepo.tar.gz"
        command: "rm /usr/local/share/seqrepo.tar.gz"
