container_commands:
    00_export_eb_env_var:
        command: "export $(cat /opt/elasticbeanstalk/deployment/env | xargs)"
    01_install_awscli:
        command: "yum install -y awscli"
    02_install_unzip:
        command: "yum install -y unzip"
    03_variant_normalizer_path:
        command: "VARIANT_DATA_PATH=/var/app/venv/staging*/lib/python3.7/site-packages/variant/data"
    04_s3_download:
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/${AWS_SEQREPO_OBJECT} $VARIANT_DATA_PATH/seqrepo.zip --region us-east-2"
    05_unzip_seqrepo:
        command: "unzip $VARIANT_DATA_PATH/seqrepo.zip -d $VARIANT_DATA_PATH"
    06_seqrepo_permission:
        command: "chmod -R 777 $VARIANT_DATA_PATH/seqrepo"
    07_macosx_permission:
        command: "chmod -R +wr $VARIANT_DATA_PATH/__MACOSX"
    08_seqrepo_zip_permission:
        command: "chmod +wr $VARIANT_DATA_PATH/seqrepo.zip"
    09_remove_macosx:
        command: "rm -R $VARIANT_DATA_PATH/__MACOSX"
    10_remove_seqrepo_zip:
        command: "rm $VARIANT_DATA_PATH/seqrepo.zip"
    11_data_permission:
        command: "chmod -R +wrx $VARIANT_DATA_PATH"
