container_commands:
    00_export_eb_env_var:
        command: "export $(cat /opt/elasticbeanstalk/deployment/env | xargs)"
    01_install_awscli:
        command: "yum install -y awscli"
    02_install_unzip:
        command: "yum install -y unzip"
    03_s3_download:
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/${AWS_SEQREPO_OBJECT} ./variant/data/seqrepo.zip --region us-east-2"
    04_unzip_seqrepo:
        command: "unzip ./variant/data/seqrepo.zip -d ./variant/data"
    05_seqrepo_permission:
        command: "chmod -R 777 ./variant/data/seqrepo"
    06_macosx_permission:
        command: "chmod -R +wr ./variant/data/__MACOSX"
    07_seqrepo_zip_permission:
        command: "chmod +wr ./variant/data/seqrepo.zip"
    08_remove_macosx:
        command: "rm -R ./variant/data/__MACOSX"
    09_remove_seqrepo_zip:
        command: "rm ./variant/data/seqrepo.zip"
    10_data_permission:
        command: "chmod -R +wrx ./variant/data"