container_commands:
    01_export_eb_env_var:
        test: test ! -d "/var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/seqrepo"
        command: "export $(cat /opt/elasticbeanstalk/deployment/env | xargs)"

    02_install_awscli:
        test: test ! -d "/var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/seqrepo"
        command: "yum install -y awscli"

    03_install_unzip:
        test: test ! -d "/var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/seqrepo"
        command: "yum install -y unzip"

    04_s3_download:
        test: test ! -d "/var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/seqrepo"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/${AWS_SEQREPO_OBJECT} /var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/seqrepo.zip --region us-east-2"

    05_unzip_seqrepo:
        test: test -f "/var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/seqrepo.zip"
        command: "unzip /var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/seqrepo.zip -d /var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data"

    06_seqrepo_permission:
        test: test -d "/var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/seqrepo"
        command: "chmod -R 777 /var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/seqrepo"

    07_macosx_permission:
        test: test -d "/var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/__MACOSX"
        command: "chmod -R +wr /var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/__MACOSX"

    08_seqrepo_zip_permission:
        test: test -f "/var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/seqrepo.zip"
        command: "chmod +wr /var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/seqrepo.zip"

    09_remove_macosx:
        test: test -d "/var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/__MACOSX"
        command: "rm -R /var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/__MACOSX"

    10_remove_seqrepo_zip:
        test: test -f "/var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/seqrepo.zip"
        command: "rm /var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/seqrepo.zip"

    11_hgnc_gene_symbols_download:
        test: test ! -f "/var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/hgnc_gene_symbols.txt"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/variant/hgnc_gene_symbols.txt /var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/hgnc_gene_symbols.txt --region us-east-2"

    12_refseq_gene_symbols_download:
        test: test ! -f "/var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/refseq_gene_symbols.txt"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/variant/refseq_gene_symbols.txt /var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data/refseq_gene_symbols.txt --region us-east-2"

    13_data_permission:
        test: test -d "/var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data"
        command: "chmod -R +wrx /var/app/venv/staging-LQM1lest/lib/python3.7/site-packages/variant/data"
